NODE_ENV=
# ssl enabled
SSL_ENABLED=
PORT=

DB_PASSWORD=
DB_NAME=
DB_HOST=
DB_PORT=
DB_USERNAME=

# email address
SMTP_USER=
# email password
SMTP_PASSWORD=

# smtp.gmail.com for gmail
SMTP_HOST=

# smtp service
SMTP_SERVICE=

# smtp port
SMTP_PORT=

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

ADMIN_ACCOUNT_ACTIVATION_LINK=http://localhost:3001/admin/activate-account
ADMIN_RESET_PASSWORD_LINK=http://localhost:3001/admin/reset-password

JWT_SECRET=

# minimum length of password
PASSWORD_DEFAULT_LENGTH=
# number of rounds for password hashing
PASSWORD_SALT_ROUNDS=
# whether to use symbols in password
PASSWORD_USE_SYMBOLS=

SENTRY_DSN=